.aside {
  width: 320px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 30px 20px;
  background-color: white;
  height: 510px;
  position: sticky;
  top: 40px;
}

.aside h1 {
  font-size: 25px;
  text-align: center;
  display: block;
  color: #d00000;
}

.aside form {
  margin: 10px 0px;
}

.aside form .input-block label {
  color: grey;
  font-size: 14px;
  display: block;
  margin-top: 20px;
}

.aside form .input-block input,
textarea {
  width: 100%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid grey;
}

.aside form .input-block textarea {
  height: 200px;
  resize: none;
}

.aside form button[type="submit"] {
  width: 100%;
  border: 0;
  margin-top: 20px;
  background-color: #d00000;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.aside form button[type="submit"]:hover {
  background-color: #970000;
}

/* RESPONSIVE MOBILE MODE */
@media (max-width: 780px) {
  .aside {
    margin: auto;
    position: relative;
  }
}
